@media screen and (min-width: 375px) and (max-width: 667px) {
  .body__index {
    background-color: white;
  }
  .body__index .footer {
    margin-top: 20px;
  }
  .login {
    margin: 0;
  }
  .login .login__column--left {
    display: none;
  }
  .login .login__column--right {
    width: 100%;
  }
  .login .login__box {
    border: 0;
    margin: 0;
  }
  .navigation {
    padding: 0 20px;
  }
  .navigation__logo {
    width: 160px;
    height: 31px;
  }
  .navigation__input {
    display: none;
  }
  .feed, .explore, .photo--detail {
    margin-top: 0;
    background-color: transparent;
    border: none;
  }
  .feed, .feed .photo__header {
    border-radius: 0;
  }
  .photo__comments {
    border-bottom: none;
  }
  .photo__comment--input {
    display: none;
  }
  .footer {
    width: 85%;
    margin-bottom: 13px;
  }
  .footer, .footer__list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__list {
    margin-bottom: 10px;
  }
  .footer__list--item {
    margin-bottom: 10px;
  }
  .explore .user__list {
    background-color: transparent;
  }
  .explore .users__list .users__user {
    border: none;
  }
  .explore .users__list .users__user:last-child {
    padding-bottom: 40px;
  }
  .explore__footer {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .photo--detail .photo__main {
    border-radius: 0;
  }
}
